<header>

</header>

<div class="resource-container">
  <div class="masonry"  >
    <div ng-repeat="res in $ctrl.resources" class="brick">
        <img ng-src="{{res.image}}"/>
        <h2 class="res-name">{{res.name}}</h2>
        <div class="res-header">


          <p class="res-type">{{res.type}}</p>
        </div>
        <div class="res-subject">
          <span ng-repeat="sub in res.subject">{{sub.sName + ", "}}</span>
        </div>
        <hr/>

        <div class="clearfix"></div>
        <div class = "res-text">
          <p class="res-summary">{{res.shortDescription}}</p>

        </div>
          <hr/>
        <div class="res-favorite" >
          <a href ng-click="res.toggleFavorite()">
          <img src="{{res.isFavorite ? 'icon_favorite-4.png' : 'icon_favorite-2.png'}}" />
          <!--input type="checkbox" ng-model="res.isFavorite" /-->
        </a>
        </div>
    </div><!-- end res controller -->
  </div>
</div>
