<header>
  <h1>Resource List</h1>

</header>

<div class="resource-container">
  <div class="masonry" >
    <div ng-repeat="res in $ctrl.resources" class="brick">
        <img ng-src="{{res.image}}"/>
        <div class="res-header">
          <h2 class="res-name">{{res.name}}</h2>
          <p class="res-type">{{res.type}}</p>
        </div>
        <div class="clearfix"></div>
        <p class="res-summary">{{res.shortDescription}}</p>
        <div class="res-subject">{{res.subject}}</div>
        <input type="checkbox" ng-model="res.isFavorite" />Favorite
    </div>
  </div>
</div>
