
<div >
  <md-content flex id="content">
      <md-card>
        <md-card-title>
          <span class="md-headline">{{ rDetailCtrl.res.Title }}</span>
        </md-card-title>
        <md-card-avatar>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{rDetailCtrl.res.type}}</span>
          <span class="md-subhead">{{rDetailCtrl.res.Subjects}}</span>
        </md-card-header-text>

        <img ng-src="{{rDetailCtrl.res.Image}}"/>

        <md-card-content>
          <p>{{rDetailCtrl.res.Summary}}</p>
          <p>{{rDetailCtrl.res.Description}}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
          <!--button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude aria-label="Favorite">
            <md-icon ng-src="{{$ctrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}" class="ng-scope" aria-hidden="true"></md-icon-->
            <a href ng-click="$rDetailCtrl.toggleFavorite(res._id)">
              <img style="width: 45px;" ng-src="{{rDetailCtrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}">
            </a>
          <!--/button-->
        </md-card-actions>
      </md-card>
  </md-content>
</div>
