<md-dialog aria-label=""  ng-cloak>
  <md-dialog-content>
    <div>
    <md-card>

      <div layout="row">
<!-- this is the image -->
      <div flex="45" layout="column" layout-margin layout-padding>
        <img ng-src="{{res.Image}}" />
        <div flex layout="row" layout-margin>
          <div ng-repeat="n in [1,2,3,4,5]">
            <img ng-src="{{res.Image}}"/>
          </div>
        </div>
        <div layout="row">
          <div ng-repeat="i in [1,2,3,4]">
            <div>{{res.Connections[i]}}</div>
          </div>
        </div>
      </div>

<!-- this is the start of the overview -->
      <div layout="column" layout-margin layout-padding flex>

        <div>
          <script>console.log();</script>
          <div class="md-headline">{{res.Title}}</div>
          <div class="md-subhead">{{res.Summary}}</div>
        </div>
  <!-- this is the first detail column -->
        <div layout="row" >
          <div layout="column" style="padding-right: 2em;" flex = "50">
            <p>{{res.Type}}</p>
            <p>{{res.Subjects}}</p>
            <p>{{res.Recommended_Ages}}</p>
            <p>Where to get it</p>
            <a style="font-size: 80%" ng-repeat="tag in res.CC_Tags track by $index">{{tag}}</a>
          </div>
    <!-- this is the second detail column-->
          <div layout="column" flex>
            <div layout="row">
              <div flex layout="column" >
                <p style="vertical-align: middle; padding:0 5px 10px 0;" layout-align="start center"><i class="material-icons">sentiment_very_satisfied</i>Prep Time</p>
                <p style="vertical-align: middle; padding-bottom:10px;" layout-align="start center"><i class="material-icons">sentiment_very_satisfied</i>Differentiated Instruction</p>
                <p style="vertical-align: middle; padding-bottom:10px;" layout-align="start center"><i class="material-icons">sentiment_very_satisfied</i>Common Core</p>
              </div>
            </div>
          </div>
        </div>

        <md-card-content layout-padding >
          <p>{{res.Description}}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
          <!--button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude aria-label="Favorite">
            <md-icon ng-src="{{$ctrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}" class="ng-scope" aria-hidden="true"></md-icon-->
            <a href ng-click="$rDetailCtrl.toggleFavorite(res._id)">
              <img style="width: 45px;" ng-src="{{rDetailCtrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}">
            </a>

      </div> <!-- end first row -->
    </div>




          <!--/button-->
        </md-card-actions>
    </md-card>
</div>
  </md-dialog-content>


</md-dialog>
