<md-dialog aria-label=""  ng-cloak>
  <md-dialog-content>
    <div>
    <md-card>
      <md-card-title flex layout="row">
        <script>console.log();</script>
        <span class="md-headline">{{this.res.Title}}</span>

      </md-card-title>
      <div layout-margin class="md-subhead">{{$ctrl.res.Summary}}</div>

      <div layout="row" layout-margin>
        <div flex layout="column" layout-margin>
          <div class="md-title">Type: {{dCtrl.res.Type}}</div>
          <div class="md-subhead">Subjects: {{res.Subjects}}</div>
          <div>Recommended Ages: {{res.Recommended_Ages}}</div>
          <div>Where to get it</div>

          <md-card-avatar>
          </md-card-avatar>

        </div>

        <div flex layout-padding layout="column">
          <div layout="row">
            <div flex layout="column">
              <div>Prep Time</div>
              <div>Engagement</div>
              <div>Demonstration of Comprehension</div>
              <div>Applicability</div>
              <div>Meaningfulness</div>
            </div>
            <div flex layout="column">
              <div ng-repeat="n in [1,2,3,4,5]">
                <img ng-src="icons/icon_favorite-4.png" style="height: 25px; width: 25px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div flex layout="row" layout-margin>
        <div ng-repeat="n in [1,2,3,4,5]">
          <img ng-src="{{res.Image}}"/>
        </div>
      </div>


        <md-card-content>
          <p>{{rDetailCtrl.res.Description}}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
          <!--button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude aria-label="Favorite">
            <md-icon ng-src="{{$ctrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}" class="ng-scope" aria-hidden="true"></md-icon-->
            <a href ng-click="$rDetailCtrl.toggleFavorite(res._id)">
              <img style="width: 45px;" ng-src="{{rDetailCtrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}">
            </a>
          <!--/button-->
        </md-card-actions>
    </md-card>
</div>
  </md-dialog-content>


</md-dialog>
