<md-dialog aria-label=""  ng-cloak>
  <md-dialog-content>
    <div>
    <md-card>
      <md-card-title flex layout="row">
        <script>console.log();</script>
        <span class="md-headline">{{res.Title}}</span>

      </md-card-title>
      <div layout-margin class="md-subhead">{{res.Summary}}</div>

      <div layout="row" layout-margin>

        <div flex layout="column" layout-padding>
          <div class="md-title">{{res.Type}}</div>
          <div class="md-subhead">{{res.Subjects}}</div>
          <div>{{res.Recommended_Ages}}</div>
          <div>Where to get it</div>
        </div>

        <div flex layout-padding layout="column">
          <div layout="row">
            <div flex layout="column">
              <p><i class="material-icons">sentiment_very_satisfied</i>Prep Time</p>
              <p><i class="material-icons">sentiment_very_satisfied</i>Differentiated Instruction</p>
              <p><i class="material-icons">sentiment_very_satisfied</i>Price</p>
              <p><i class="material-icons">sentiment_very_satisfied</i>Common Core</p>
            </div>
          </div>
        </div>

        <div flex="45" layout="column" layout-padding>
          <img ng-src="{{res.Image}}" />
          <div flex layout="row" layout-padding>
            <div ng-repeat="n in [1,2,3,4,5]">
              <img ng-src="{{res.Image}}"/>
            </div>
          </div>
        </div>

      </div> <!-- end first row -->




        <md-card-content>
          <p>{{res.Description}}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
          <!--button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude aria-label="Favorite">
            <md-icon ng-src="{{$ctrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}" class="ng-scope" aria-hidden="true"></md-icon-->
            <a href ng-click="$rDetailCtrl.toggleFavorite(res._id)">
              <img style="width: 45px;" ng-src="{{rDetailCtrl.isFavorite(res._id) ? 'icons/icon_favorite-4.png' : 'icons/icon_favorite-2.png'}}">
            </a>
          <!--/button-->
        </md-card-actions>
    </md-card>
</div>
  </md-dialog-content>


</md-dialog>
