
.masonry { /* Masonry container */
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 1.5em;
  font-size: .85em;
}

.brick { /* Masonry bricks or child elements*/
  display: inline-block;
  background: #fff;
  padding: 10px;
  margin: 0 0 30px;
  width: 100%;
/*  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
    border: #eee solid 1px;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);*/
}

.brick img {
  width: 100%;
  padding: 10px;
}

.res-header {
  margin: 20px 0 5px;
  display: block;
  overflow: hidden;
}

.brick .res-name {
  float: left;
}

.brick .res-type {
  font-size: 16px;
  font-weight: bold;
  float: right;
}

.brick .res-text {
  margin: 10px;
}

.brick .res-summary {

}

.brick .res-favorite {
  float: right;
  overflow: hidden;
}
.brick .res-favorite img{
  width: 40px;
}








@media (max-width: 900px) {
  .masonry { /* Masonry container */
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .masonry { /* Masonry container */
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
