
<div  ng-controller="NavigationCtrl as navCtrl" ng-cloak>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <a aria-label="Neural Net Ninja" ng-disabled="false" ui-sref="resourcesList">
          <h2>
            <span>Neural Net Ninja</span>
          </h2>
        </a>

        <span flex></span>
        <md-button class="md-icon-button" aria-label="Search" ui-sref="resourcesList">
          <i class="material-icons">search</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Add" ui-sref="resourceSubmit"> <!-- grey this out -->
          <i class="material-icons">add</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Profile" ui-sref="userPage"> <!-- home page -->
          <i class="material-icons">person</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="System" ui-sref="authorization"> <!-- make this a drop down-->
          <i class="material-icons">person</i>
        </md-button>
      </div>
    </md-toolbar>

</div>
