
<div  ng-controller="NavigationCtrl as navCtrl" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar class="md-toolbar-tools">
      <md-nav-item class="logo">Neural Net</md-nav-item>
      <span flex class="flex"></span>
      <div class="navbar">
        <md-nav-item href ui-sref="resourcesList">
          <i class="material-icons">search</i>
        </md-nav-item>
        <md-nav-item href ui-sref="resourceSubmit">
          <i class="material-icons">add</i>
        </md-nav-item>
        <md-nav-item href ui-sref="authorization">
          <i class="material-icons">person</i>
        </md-nav-item>
      </div>
    </md-nav-bar>
  </md-content>
</div>
