<header>
  <h1>Submit Resource</h1>
</header>

  <form name="submitResourceForm" class="new-resource" ng-submit="$ctrl.addResource($ctrl.submittedResource)">
    <!--blockquote>
      <b>name: {{resource.text}}</b><br/>
      {{resource.description}}
      <cite>type: {{resource.type}}</cite>
    </blockquote-->
    <textarea ng-model="resource.text" placeholder="enter name"></textarea>
    <textarea ng-model="resource.description" placeholder="enter description"></textarea>
    <input ng-model="resource.type" type="checkbox"/>Game
    <input ng-model="resource.type" type="checkbox"/>Website
    <input ng-model="resource.type" type="checkbox"/>Book
    <input ng-model="resource.type" type="checkbox"/>Activity
    <input type="submit" value="Submit"/>
  </form>
<!---->
