<div name="submitResourceForm" ng-controller="ResourceSubmitCtrl as rsCtrl" ng-submit="rsCtrl.addResource(rsCtrl.submittedResource)" class="md-inline-form">

    <md-card layout-padding layout-margin style="max-width: 800px; margin: auto;">

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Submit a Resource</span><br/>
                <span class="md-subhead">Page still under development</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">
            <md-input-container flex>
                <label>Resource Name</label>
                <input type="text" ng-model="rsCtrl.submittedResource.text" placeholder="enter name">
            </md-input-container>
            <md-input-container flex>
                <label>Summary</label>
                <input type="text" ng-model="rsCtrl.submittedResource.summary" placeholder="enter a one or two sentence summary">
            </md-input-container>
            <md-input-container flex>
                <label>Medium</label>
                <md-select ng-model="rsCtrl.submittedResource.type">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="medium in rsCtrl.typeOptions" ng-value="medium">
                        {{medium}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Website</label>
                <input type="text" ng-model="rsCtrl.submittedResource.website" placeholder="enter a one or two sentence summary">
            </md-input-container>
            <md-input-container flex>
                <label>Ideal Ages</label>
                <md-select type="text" ng-model="rsCtrl.submittedResource.text">
            </md-input-container>
            <md-input-container flex>
                <label>Subjects</label>
                <input type="text" ng-model="rsCtrl.submittedResource.subject">
            </md-input-container>
            <md-input-container flex>
                <label>Price</label>
                <input type="text" ng-model="rsCtrl.submittedResource.price" placeholder="select the type and approximate cost of the resource">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="rsCtrl.submittedResource.pricetype">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="medium in rsCtrl.priceOptions">
                        {{medium}}
                    </md-option>
                </md-select>
            </md-input-container>
            <upload-image files="resourceSubmit.resource.images"></upload-image>

            <md-button class="md-accent" ng-click="rsCtrl.addResource(resourceSubmit)">
                <input type="submit" value="Submit" />
            </md-button>
        </md-card-content>
    </md-card>
</div>
